/* This is to make small edits to the Groundwork theme */
@import url('./groundwork.css');

a:visited {
  color: #CB91FF;
}

a:hover {
  color: #ff0000;
}

div.note {
  margin-left: 10px;
  margin-right: 10px;
}